//colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-light-100:#f7f7f7;

$color-white: #fff;
$color-black:#000;
$color-gray-dark: #777;
$color-black-shadow: rgba(0, 0, 0, 0.15);


//font
$default-font-size: 1.6rem;

//grid
$grid-width:114rem;
$gap-vertical:8rem;
$gap-horizontal: 6rem;
