//colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-100:#f7f7f7;

$color-white: #fff;
$color-black:#000;
$color-gray-dark: #777;
$color-black-shadow: rgba(0, 0, 0, 0.2);


//font
$default-font-size: 1.6rem;

//grid
$grid-width:114rem;
$gap-vertical:8rem;
$gap-horizontal: 6rem;
