.navigation{
    &__checkbox{
        display: none;
    }
    &__button{
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        background-color: $color-white;
        box-shadow: 0 1rem 3rem $color-black-shadow;
        cursor: pointer;
        z-index: 15;
    }
    &__icon{
        position: relative;
        top:27%;
        left:50%;
        transform: translateX(-50%);
        &,
        &::before,
        &::after{
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: $color-gray-dark-400;
        }
        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .1s;
        }
        &::before{
            top: -.8rem;
        }
        &::after{
            top: .8rem;
        }
    }
    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }
    &__checkbox:checked + &__button &__icon{
        &{
            background-color: transparent;
        }
        &::before{
            top: 0;
            transform: rotate(135deg);
        }
        &::after{
            top:0;
            transform: rotate(-135deg);
        }
    }
    &__background{
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 7rem;
        right: 7rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        transition: all .4s cubic-bezier(.86,0,.07,1);
        z-index: 10;
    }
    &__checkbox:checked ~ &__background{
        transform: scale(100);
    }
    
    &__checkbox:checked ~ &__nav{
        width: 100%;
        opacity: 1;
    }
    &__nav{
        opacity: 0;
        width: 0;
        height: 100vh;
        width: 100%;
        position: fixed;
        right: 0;
        top: 0;
        transition: all .3s cubic-bezier(.86,0,.07,1);
        z-index:12;
    }   
    &__list{
        @include position-center;
        text-align: center;
    }
    &__list-item{
        margin: 1rem;
    }
    &__list-link{
        &:link,
        &:visited{
            display: inline-block;
            padding: 1rem 2rem;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0% , transparent 50%, $color-white 50%,);
            background-size: 250%;
            transition: all .3s;
        }
        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary;
            transform: scale(1.1) translateX(.9rem);

        }
    }

}