.card {
    perspective: 150rem;
    position: relative; 
    height: 52rem;
    width: 100%; 
    &__side{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transition: all .8s ease;
        border-radius: .4rem;
        box-shadow: 0 1.5rem 4rem $color-black-shadow;
        &--front{
            background-color: $color-white;
        }
        &--back{
    
            transform: rotateY(180deg);
            &-1{
                background-image: linear-gradient(to bottom right,$color-secondary-light, $color-secondary-dark);
            }
            &-2{
                background-image: linear-gradient(to bottom right,$color-secondary-light, $color-secondary-dark);
            }
            &-3{
                background-image: linear-gradient(to bottom right,$color-secondary-light, $color-secondary-dark);
            }
        }
    }
    &:hover{
        .card__side--front{
            transform: rotateY(-180deg);
        }
        .card__side--back{
            transform: rotateY(0deg);
        }
    }

    

}
