.u-center-text{
    text-align: center;
}
.u-mb-big{
    margin-bottom: 8rem;
}
.u-mb-medium{
    margin-bottom: 4rem;    
}
.u-mb-small{
    margin-bottom: 1.5rem;
}
.u-mx-auto{
    margin: 0 auto;
}
.wrapper-bg-gray{
    background-color: $color-grey-light-100;
}
